In [1]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# list of tv show titles to query
tv_shows = ["Altered Carbon", "Grey's Anatomy", "This is Us", "The Flash",
            "Vikings", "Shameless", "Arrow", "Peaky Blinders", "Dirk Gently"]

# tv maze show search base url
base_url = "http://api.tvmaze.com/search/shows?q="

# set up lists to hold response data for name and rating
titles = []
ratings = []

# loop through tv show titles, make requests and parse
for show in tv_shows:
    target_url = base_url + show
    response = requests.get(target_url).json()
    titles.append(response[0]['show']['name'])
    ratings.append(response[0]['show']['rating']['average'])

In [3]:
# create dataframe
shows_df = pd.DataFrame({
    "title": titles,
    "rating": ratings
})

shows_df

            title  rating
0  Altered Carbon     8.1
1  Grey's Anatomy     7.9
2      This Is Us     8.0
3       The Flash     7.9
4         Vikings     8.7
5       Shameless     8.5
6           Arrow     7.4
7  Peaky Blinders     8.8
8     Dirk Gently     7.3

In [ ]:
shows_df.plot('title', 'rating', kind='bar', figsize=(10,5), rot=45)